* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: white;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .page-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 200px;
  }
  
  .title {
    position: absolute;
    top: 60px;
    left: 791px;
    font-size: 70px;
    color: black;
    font-weight: 400;
  }
  
  .anim-img {
    position: absolute;
  }
  
  .dude {
    width: 323px;
    top: 230px;
    left: 183px;
  }
  
  .finger {
    width: 316px;
    top: 1100px;
    left: 796px;
  }
  
  .babayaga {
    width: 639px;
    height: auto;
    top: 1900px;
    left: 183px;
    margin-bottom: 10px;
  }
  

  .drob {
    width: 380px;
    top: 2705px;
    left: 796px;
  }

  img, h1 {
    display: block;
    border: none;
  }

  html, body {
    background: white;
    height: 100%;
  }
  